* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    cursor: default;
    border: none;
    background: none;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: url("./images/rollercoaster-3905311.jpg");
    background-size: cover;
    /*background-image: linear-gradient(to bottom right, rgba(255, 255, 0, 0.6), rgb(70, 255, 255));*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 50px 50px 50px;
    font-size: 100%;
}

img {
    max-height: 200px;
    width: auto;
    margin: 0;
}

h1 {
    /*background-color: rgba(255, 255, 250, 0.8);*/
    text-align: center;
    font-size: 5rem;
    font-family: "Times New Roman";
    text-transform: uppercase;
    font-weight: 800;
    line-height: 4.5rem;
    margin: 0;
}

h2 {
    color: rgb(160, 0, 0);
    text-align: center;
    font-size: 3rem;
    font-family: "Times New Roman";
    font-variant: small-caps;
    font-weight: 600;
    line-height: 4rem;
    margin: 0.5rem 0 4rem 0;
}

menu, .add-score-container {
    width: 600px;
    min-height: 200px;
    background: rgba(255, 255, 255, 0.9);
    border: white solid 2px;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.main-menu {
    color: black;
    font-family: "Times New Roman";
    font-size: 2.8rem;
    font-weight: 600;
    /*text-decoration: black;*/
    /*text-decoration-line: underline;*/
    text-align: center;
    line-height: 3.5rem;
    /*margin-bottom: 30px;*/
}

.main-btn {
    min-width: 500px;
    height: 80px;
    background-color: rgba(0, 100, 160, 0.2);
    /*background: rgba(150, 0, 100, 0.2);*/
    border: rgb(150, 0, 100) solid 1px;
    border-radius: 50px;
    cursor: pointer;
    margin: 20px 0;
    padding: 10px;
    color: black;
    font-family: "Times New Roman";
    font-size: 2rem;
    font-weight: 600;
}

.over-main-btn {
    /*text-decoration: black;*/
    /*text-decoration-line: underline;*/
    min-width: 500px;
    font-size: 2.5rem;
    font-weight: 500;
    background-color: rgba(0, 100, 160, 0.5);
    /*background: rgba(150, 0, 100, 0.5);*/
    border: rgb(150, 0, 100) solid 3px;
}

.lvl-btn {
    min-width: 150px;
    min-height: 50px;
    background-color: rgba(0, 100, 160, 0.2);
    border: rgb(150, 0, 100) solid 1px;
    border-radius: 50px;
    cursor: pointer;
    margin: 10px 0;
    padding: 5px;
    color: black;
    font-family: "Times New Roman";
    font-size: 1rem;
    font-weight: 700;
}

.over-lvl-btn {
    text-decoration: black;
    text-decoration-line: underline;
    font-size: 1rem;
    font-weight: 800;
    /*background-color: rgba(0, 100, 160, 0.5);*/
    background: rgba(150, 0, 100, 0.5);
    border: rgb(150, 0, 100) solid 2px;
}

.levels {
    /*background-color: blue;*/
    min-height: 50px;
    width: 100%;
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.choose-lvl-txt {
    color: black;
    line-height: 1rem;
    font-variant: small-caps;
    text-align: center;
    font-size: 1.5rem;
    margin: 0px 0 0 0;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    min-width: 700px;
    min-height: 30vh;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.modal-background-color {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 20, 0.2);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.exit-btn {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    /*cursor: pointer;*/
}

.exit-btn img {
    height: 5rem;
    width: auto;
    cursor: pointer;
}

.over-exit-btn {
    background-color: rgba(0, 0, 0, 0.1);
    border: rgba(0, 0, 0, 0.3) solid 1px;
    border-radius: 10px;
}

.question-container {
    width: 70%;
}

.question {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.question h1 {
    font-size: 3rem;
    font-weight: 800;
    font-variant: small-caps;
    font-family: "Times New Roman";
    color: black;
}

.question p {
    line-height: 2.5rem;
    font-size: 2.5rem;
    font-weight: 400;
    font-family: "Times New Roman";
    text-align: center;
    color: black;
}

.answers-container {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    /*background-color: blue;*/
}

.answer-btn {
    min-height: 100px;
    min-width: 120px;
    /*max-width: 20vw;*/
    /*background-color: rgba(255, 255, 255, 0.4);*/
    background: rgba(255, 255, 255, 0.4);
    border: black solid 1px;
    border-radius: 10px;
    line-height: 1.4rem;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Times New Roman";
    text-align: center;
    cursor: pointer;
    color: black;
    margin: auto;
    padding: 7px;
}

.over-answer-btn {
    background-color: rgba(255, 200, 0, 0.7);
    border: black solid 2px;
}

.input-answer:checked+label {
    background-color: aqua;
    border: deepskyblue solid 2px;
    box-shadow: 0 0 1em deepskyblue;
    font-size: 1.3rem;
    font-weight: 550;
}

.hidden {
    display: none;
}

.blur-background {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100%;
    min-width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    z-index: 5;
}

.check-btn, .next-btn {
    height: 50%;
    min-width: 12rem;
    background-color: deepskyblue;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Times New Roman";
    text-align: center;
    cursor: pointer;
    color: white;
    margin-left: 70%;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 7px;
}

.submit-container {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.input-answer {
    visibility:hidden;
}

.end-quiz {
    width: 70%;
}

.text-end-game {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Times New Roman";
    color: black;
    text-align: center;
}

.panda {
    margin-left: 40%;
    margin-top: 50px;

}

.add-score {
    height: 50%;
    min-width: 12rem;
    background-color: deepskyblue;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Times New Roman";
    text-align: center;
    cursor: pointer;
    color: white;
    margin-left: 70%;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 7px;

}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    width: 150px;

}

.add-to-ranking label {
    font-family: "Times New Roman";
    font-size: 40px;
    font-weight: bold;
}

.name {
    margin-top: 20px;
    font-family: "Times New Roman";
    font-size: 30px;
    font-weight: bold;
    background-color: lightblue;

}

.add {
    height: 50%;
    min-width: 12rem;
    background-color: deepskyblue;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Times New Roman";
    text-align: center;
    cursor: pointer;
    color: white;
    margin-left: 30%;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 7px;
}
