<!DOCTYPE html>
<html lang="Pl-pl">
<head>
    <title>Javascript Game</title>
    <meta charset="UTF-8">
    <!-- http://proger.i-forge.net/The_smallest_transparent_pixel/ -->
    <link rel="icon" href="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="add-score-container">
        <form class="add-to-ranking" action="{{ url_for("add_score_post") }}" method="post">
            <label for="name">Imię:</label>
            <input class="name" type="text">
            <input class="score" id="score" type="hidden">
            <div>
                <button class="add" type="submit">Dodaj wynik</button>
            </div>
        </form>
    </div>

</body>
</html>