<!DOCTYPE html>
<html lang="Pl-pl">
<head>
    <title>Add score</title>
    <meta charset="UTF-8">
    <!-- http://proger.i-forge.net/The_smallest_transparent_pixel/ -->
    <link rel="icon" href="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <img src="/static/images/quiz-2058883.png" alt="quiz-header">
    <h1>JavaScript Game</h1>
    <h2>Zapnij pasy, bo czeka Cię ostra jazda bez trzymanki!!!</h2>
    <div class="add-score-container">
        <h4 class="text-end-game">Dodaj swój wynik</h4>
        <form class="add-to-ranking" action="{{ url_for("add_score_post") }}" method="post">
            <label for="name">Imię:</label>
            <input class="name" name="name" id="name" type="text">
            <input class="score" name="score" id="score" value="{{ user_score }}" type="hidden">
            <div>
                <button class="add" type="submit">Dodaj wynik</button>
            </div>
        </form>
    </div>


</body>
</html>