<!DOCTYPE html>
<html lang="Pl-pl">
<head>
    <title>Javascript Game</title>
    <meta charset="UTF-8">
    <!-- http://proger.i-forge.net/The_smallest_transparent_pixel/ -->
    <link rel="icon" href="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <img src="/static/images/quiz-2058883.png" alt="quiz-header">
    <h1>JavaScript Game</h1>
    <h2>Zapnij pasy, bo czeka Cię ostra jazda bez trzymanki!!!</h2>
    <menu>
        <h1 class="main-menu">Menu Główne</h1>
        <button class="main-btn" id="newGame"><span class="dice rotate">🎲</span> Nowa Gra <span class="dice">🎲</span></button>
        <div class="lvls-container hidden">
            <h2 class="choose-lvl-txt">Wybierz poziom:</h2>
            <div class="levels">
                <button class="lvl-btn" id="easy">Łatwy</button>
                <button class="lvl-btn" id="intermediate">Średni</button>
                <button class="lvl-btn" id="mystic">Mistyczny</button>
            </div>
        </div>
        <button class="main-btn" id="ranking-list">📜 Lista Rankingowa 📜</button>
        <div class="table-container hidden" id="table">
            <table style="width:100%">
                {% for key in ranking_list[0] %}
                        <th>
                            {{ key }}
                        </th>
                {% endfor %}
                {% for line in ranking_list %}
                    <tr>
                    {% for key in line %}
                        <td>{{ line[key] }}</td>
                     {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </menu>

{#    <main class="modal hidden">#}
        {% include "questions.html" %}
{#    </main>#}

    <div class="blur-background hidden" data-correct="whatever"></div>

    <script type="text/javascript" src="/static/game.js"></script>
    <script type="text/javascript">
        const lvl1 = {{ questions_lvl1|tojson }}
        const lvl2 = {{ questions_lvl2|tojson }}
        const lvl3 = {{ questions_lvl3|tojson }}
        const random_keys_list = {{ random_keys_list|tojson }}
    </script>
</body>
</html>
