{% block questions %}

<main class="modal hidden" xmlns="http://www.w3.org/1999/html">

    <div class="exit-btn">
        <button><img src="/static/images/exit-575715.png"></button>
    </div>
    <div class="question-container" id="1">
        <div class="question">
            <h1>Pytanie 1</h1>
        </div>
        <div class="question">
            <p>
                {{ questions_lvl1[0].content }}
            </p>
        </div>
        <div class="answers-container" data-correct-answer="{{ questions_lvl1[0].good_answer }}">
            <input type="radio" value="Answer-1" id="q1-answer1" class="input-answer" name="answers1">
            <label for="q1-answer1" class="answer-btn">{{ questions_lvl1[0].good_answer }}</label>
            <input type="radio" value="Answer-2" id="q1-answer2" class="input-answer" name="answers1">
            <label for="q1-answer2" class="answer-btn">{{ questions_lvl1[0].false_answer1 }}</label>
            <input type="radio" value="Answer-3" id="q1-answer3" class="input-answer" name="answers1">
            <label for="q1-answer3" class="answer-btn">{{ questions_lvl1[0].false_answer2 }}</label>
            <input type="radio" value="Answer-4" id="q1-answer4" class="input-answer" name="answers1">
            <label for="q1-answer4" class="answer-btn">{{ questions_lvl1[0].false_answer3 }}</label>
        </div>
    </div>
    <div class="question-container hidden" id="2">
        <div class="question">
            <h1>Pytanie 2</h1>
        </div>
        <div class="question">
            <p>
                {{ questions_lvl1[1].content }}
            </p>
        </div>
        <div class="answers-container" data-correct-answer="{{ questions_lvl1[1].good_answer }}">
            <input type="radio" value="Answer-1" id="q2-answer1" class="input-answer" name="answers2">
            <label for="q2-answer1" class="answer-btn">{{ questions_lvl1[1].good_answer }}</label>
            <input type="radio" value="Answer-2" id="q2-answer2" class="input-answer" name="answers2">
            <label for="q2-answer2" class="answer-btn">{{ questions_lvl1[1].false_answer1 }}</label>
            <input type="radio" value="Answer-3" id="q2-answer3" class="input-answer" name="answers2">
            <label for="q2-answer3" class="answer-btn">{{ questions_lvl1[1].false_answer2 }}</label>
            <input type="radio" value="Answer-4" id="q2-answer4" class="input-answer" name="answers2">
            <label for="q2-answer4" class="answer-btn">{{ questions_lvl1[1].false_answer3 }}</label>
        </div>
    </div>
    <div class="question-container hidden" id="3">
        <div class="question">
            <h1>Pytanie 3</h1>
        </div>
        <div class="question">
            <p>
                {{ questions_lvl1[2].content }}
            </p>
        </div>
        <div class="answers-container" data-correct-answer="{{ questions_lvl1[2].good_answer }}">
            <input type="radio" value="Answer-1" id="q3-answer1" class="input-answer" name="answers3">
            <label for="answer1" class="answer-btn">{{ questions_lvl1[2].good_answer }}</label>
            <input type="radio" value="Answer-2" id="q3-answer2" class="input-answer" name="answers3">
            <label for="answer2" class="answer-btn">{{ questions_lvl1[2].false_answer1 }}</label>
            <input type="radio" value="Answer-3" id="q3-answer3" class="input-answer" name="answers3">
            <label for="answer3" class="answer-btn">{{ questions_lvl1[2].false_answer2 }}</label>
            <input type="radio" value="Answer-4" id="q3-answer4" class="input-answer" name="answers3">
            <label for="answer4" class="answer-btn">{{ questions_lvl1[2].false_answer3 }}</label>
        </div>
    </div>

    <div class="submit-container">
        <button class="check-btn">Sprawdź</button>
    </div>

    <div class="next-container">
        <button class="next-btn hidden">Kolejne pytanie</button>
    </div>

</main>

{#<script type="text/javascript" src="/static/game.js"></script>#}
{% endblock %}