{% block questions %}

<main class="modal hidden" xmlns="http://www.w3.org/1999/html">

    <div class="exit-btn">
        <button><img src="/static/images/exit-575715.png"></button>
    </div>
    <div class="question-container" id="1">
        <div class="question">
            <h1>Pytanie 1</h1>
        </div>
        <div class="question">
            <p>
                {{ questions_lvl1[0].question_content }}
            </p>
        </div>
        <div class="answers-container" data-correct-answer="{{ questions_lvl1[0].correct_answer }}">
            <input type="radio" value="Answer-1" id="answer1" class="input-answer" name="answers">
            <label for="answer1" class="answer-btn">{{ questions_lvl1[0].correct_answer }}</label>
            <input type="radio" value="Answer-2" id="answer2" class="input-answer" name="answers">
            <label for="answer2" class="answer-btn">{{ questions_lvl1[0].false_answer_1 }}</label>
            <input type="radio" value="Answer-3" id="answer3" class="input-answer" name="answers">
            <label for="answer3" class="answer-btn">{{ questions_lvl1[0].false_answer_2 }}</label>
            <input type="radio" value="Answer-4" id="answer4" class="input-answer" name="answers">
            <label for="answer4" class="answer-btn">{{ questions_lvl1[0].false_answer_3 }}</label>
        </div>
    </div>
    <div class="question-container hidden" id="2">
        <div class="question">
            <h1>Pytanie 2</h1>
        </div>
        <div class="question">
            <p>
                {{ questions_lvl1[1].question_content }}
            </p>
        </div>
        <div class="answers-container" data-correct-answer="{{ questions_lvl1[1].correct_answer }}">
            <input type="radio" value="Answer-1" id="answer1" class="input-answer" name="answers">
            <label for="answer1" class="answer-btn">{{ questions_lvl1[1].correct_answer }}</label>
            <input type="radio" value="Answer-2" id="answer2" class="input-answer" name="answers">
            <label for="answer2" class="answer-btn">{{ questions_lvl1[1].false_answer_1 }}</label>
            <input type="radio" value="Answer-3" id="answer3" class="input-answer" name="answers">
            <label for="answer3" class="answer-btn">{{ questions_lvl1[1].false_answer_2 }}</label>
            <input type="radio" value="Answer-4" id="answer4" class="input-answer" name="answers">
            <label for="answer4" class="answer-btn">{{ questions_lvl1[1].false_answer_3 }}</label>
        </div>
    </div>
    <div class="question-container hidden" id="3">
        <div class="question">
            <h1>Pytanie 3</h1>
        </div>
        <div class="question">
            <p>
                {{ questions_lvl1[2].question_content }}
            </p>
        </div>
        <div class="answers-container" data-correct-answer="{{ questions_lvl1[2].correct_answer }}">
            <input type="radio" value="Answer-1" id="answer1" class="input-answer" name="answers">
            <label for="answer1" class="answer-btn">{{ questions_lvl1[2].correct_answer }}</label>
            <input type="radio" value="Answer-2" id="answer2" class="input-answer" name="answers">
            <label for="answer2" class="answer-btn">{{ questions_lvl1[2].false_answer_1 }}</label>
            <input type="radio" value="Answer-3" id="answer3" class="input-answer" name="answers">
            <label for="answer3" class="answer-btn">{{ questions_lvl1[2].false_answer_2 }}</label>
            <input type="radio" value="Answer-4" id="answer4" class="input-answer" name="answers">
            <label for="answer4" class="answer-btn">{{ questions_lvl1[2].false_answer_3 }}</label>
        </div>
    </div>


{#    <div class="question">#}
{#        <h1>Question 1</h1>#}
{#    </div>#}
{#    <div class="question">#}
{#        <p>#}
{#            {{ questions_lvl1[i].question_content }}#}
{#        </p>#}
{#        <p>#}
{#        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod#}
{#        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim#}
{#        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea#}
{#        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate#}
{#        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint#}
{#        occaecat cupidatat non proident, sunt in culpa qui officia deserunt#}
{#        mollit anim id est laborum.#}
{#        </p>#}
{#    </div>#}
{#    <div class="answers-container" data-correct-answer="{{ questions_lvl1[i].correct_answer }}">#}
{#        <input type="radio" value="Answer-1" id="answer1" class="input-answer" name="answers">#}
{#        <label for="answer1" class="answer-btn">{{ questions_lvl1[i].correct_answer }}</label>#}
{#        <input type="radio" value="Answer-2" id="answer2" class="input-answer" name="answers">#}
{#        <label for="answer2" class="answer-btn">{{ questions_lvl1[i].false_answer_1 }}</label>#}
{#        <input type="radio" value="Answer-3" id="answer3" class="input-answer" name="answers">#}
{#        <label for="answer3" class="answer-btn">{{ questions_lvl1[i].false_answer_2 }}</label>#}
{#        <input type="radio" value="Answer-4" id="answer4" class="input-answer" name="answers">#}
{#        <label for="answer4" class="answer-btn">{{ questions_lvl1[i].false_answer_3 }}</label>#}
{#    </div>#}


    <div class="submit-container">
        <button class="check-btn">Sprawdź</button>
    </div>

    <div class="next-container hidden">
        <button class="next-btn">Kolejne pytanie</button>
    </div>

</main>

{#<script type="text/javascript" src="/static/game.js"></script>#}
{% endblock %}