{% block questions %}

<main class="modal hidden" data-question-index="0" xmlns="http://www.w3.org/1999/html">

<!-- exit button -->
<div class="exit-div">
    <button class="exit-btn"><img class="exit-img" src="/static/images/exit-575715.png"></button>
</div>

<div class="modal-background-color">

    <div class="question-container" id=1>
        <div class="question">
            <h1 id="question-title"></h1>
        </div>
        <div class="question">
            <p id="question-content"></p>
        </div>
        <div class="answers-container"></div>
    </div>

        <!-- checking correctness of the answer button -->
    <div class="submit-container">
        <button class="check-btn" data-check-count="{{ check_count }}">Sprawdź</button>
        <button class="next-btn hidden">Kolejne pytanie</button>
    </div>

    <!-- proceeding to another question -->
    <div class="next-container">
    </div>

    <div class="end-quiz hidden">
        <h3 class="text-end-game" id="score"></h3>
        <h4 class="text-end-game">JavaScript jest ... ale nie bądź jak panda... 😉</h4>
        <img class="panda" src="/static/images/panda.gif">

        <form action="{{ url_for("add_score_get") }}" method="get">
            <button class="add-score">Zapisz wynik</button>
        </form>
    </div>


</div>
</main>

{% endblock %}